{
  "extends": "@hyperoslo/eslint-config/react",
  "env": {
    "browser": true
  },
  "rules": {
    "no-restricted-syntax": "off",
    "react/prop-types": "off",
    "import/no-unresolved": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "max-len": ["error", { "code": 300 }],
    "no-else-return": "off",
    "no-new": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off"
  }
}