.create-party-container-enter
  opacity: 0

.create-party-container-enter-active
  opacity: 1
  transition: opacity 350ms ease

.create-party-container-exit
  opacity: 1

.create-party-container-exit-active
  opacity: 0
  transition: opacity 350ms ease

// -----------------------------------

.front-page-container-enter
  opacity: 0

.front-page-container-enter-active
  opacity: 1
  transition: opacity 350ms ease

.front-page-container-exit
  opacity: 1

.front-page-container-exit-active
  opacity: 0
  transition: opacity 350ms ease

// -----------------------------------

.join-party-container-enter
  opacity: 0

.join-party-container-enter-active
  opacity: 1
  transition: opacity 350ms ease

.join-party-container-exit
  opacity: 1

.join-party-container-exit-active
  opacity: 0
  transition: opacity 350ms ease