.front-page-container-enter
  opacity: 0
  transform: scale(0.9)

.front-page-container-enter-active
  opacity: 1
  transform: scale(1)
  transition: all 350ms ease

.front-page-container-exit
  opacity: 1
  transform: scale(1)

.front-page-container-exit-active
  opacity: 0
  transform: scale(0.9)
  transition: all 350ms ease

// -----------------------------------

.join-party-container-enter
  opacity: 0
  transform: scale(1.1)

.join-party-container-enter-active
  opacity: 1
  transform: scale(1)
  transition: all 350ms ease

.join-party-container-exit
  opacity: 1
  transform: scale(1)

.join-party-container-exit-active
  opacity: 0
  transform: scale(1.1)
  transition: all 350ms ease

// -----------------------------------

.sliding-menu-enter
  transform: translateY(-210px)

.sliding-menu-enter-active
  transform: translateY(0)
  transition: transform 250ms ease

.sliding-menu-exit
  transform: translateY(0)

.sliding-menu-exit-active
  transform: translateY(-210px)
  transition: transform 250ms ease-out
