// Breakpoints
$mobile-small     = 320px
$mobile-medium    = 375px
$mobile-big       = 470px
$desktop          = 1024px

// Colors
$black       = #000000
$white       = #FFFFFF
$grey        = #575757

// Margins
$page-margin = 20px
