// Breakpoints
$mobile-small     = 320px
$mobile-medium    = 375px
$mobile-big       = 470px
$desktop          = 1024px

// Colors
$black       = #000000
$white       = #FFFFFF
$grey        = #575757
$dark-grey   = #2f2f2f
$alert-red   = #bf3131
$cancel-red  = #FF3232

// Margins
$page-margin = 20px
$page-margin-small = 10px

// Max-widths
$container-max-width = 365px
$screen-max-width = 385px
