*
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  box-sizing: border-box
  text-rendering: optimizeLegibility
  outline: none

html
  font-family: 'Roboto', sans-serif
  font-size: 62.5%

body
  background-color: $black
  color: $black
  display: flex
  font-size: 1.6rem
  justify-content: center
  margin: 0
  position: relative
  // user-select: none
  touch-action: manipulation

  +respond-to(mobile)
    display: block

button, input, a
  cursor: pointer
  padding: 0
  margin: 0
  background-color: transparent
  border: none
  font-family: inherit
  font-size: inherit
  color: inherit
  font-weight: inherit

p
  padding: 0
  margin: 0

.App
  width: 425px
  background-color: $black
  position: relative
  border-top: 20px solid
  border-left: 20px solid
  border-right: 20px solid

  +respond-to(mobile)
    width: auto