// Breakpoints
$mobile-small     = 320px
$mobile-medium    = 375px
$mobile-big       = 470px
$desktop          = 1024px

// Colors
$black       = #000000
$white       = #FFFFFF
$grey        = #575757
$dark-grey   = #2f2f2f
$light-grey  = #848484
$alert-red   = #bf3131
$cancel-red  = #FF3232
$purple      = #BD32FF

// Margins
$page-margin = 20px
$page-margin-small = 10px

// Max-widths
$container-max-width = 365px
$screen-tab-menu-width = 385px
$screen-width = 425px
