// Breakpoints
$mobile     = 425px

// Colors
$black       = #000000
$white       = #FFFFFF
$grey        = #7B7B7B
$dark-grey   = #2f2f2f
$light-grey  = #848484
$alert-red   = #bf3131
$cancel-red  = #FF3232
$green      = #49DA8B
$bg-color    = #181F25

// Margins
$page-margin = 20px
$page-margin-small = 10px

// Max-widths
$container-max-width = 365px
$screen-tab-menu-width = 385px
$screen-width = 425px
