.info-indicator-container
  .attention-indicator
    position: absolute
    display: block
    padding-left: 1px
    color: $black
    text-align: center
    line-height: 16px
    font-size: 12px
    font-weight: bold
    width: 16px
    height: 16px
    background-color: $white
    border-radius: 50%
    z-index: 1
    left: 0
    top: 0

    &:before
      position: absolute
      content: ''
      width: 50px
      height: 50px
      background-color: $white
      border-radius: 50%
      left: -17px
      top: -17px
      z-index: -1
      animation: pulse ease 2s infinite normal

    &.remove-animation
      &:before
        content: none

.info-modal-container
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  height: calc(var(--vh, 1vh) * 100)
  position: absolute
  top: 0
  left: 0

  .info-modal
    top: 80px
    width: 100%
    border-radius: 5px
    background-color: $modal-grey
    padding: 20px
    color: $white
    max-width: 290px

    p
      line-height: 140%
      margin: 20px 0

  .close-button
    width: 50px
    height: 50px
    background-color: $dark-grey
    border-radius: 50%
    margin-left: calc(50% - 25px)
    margin-top: 30px

@keyframes pulse
  0%
    opacity: 0.9
    transform: scale(0.2)
  100%
    opacity: 0
    transform: scale(1)
