.add-song-container
  display: flex
  flex-direction: column
  position: absolute
  left: 0 !important
  max-width: $screen-width
  width: 100%
  height: 100%
  padding: 0 $page-margin

  .transparent-gradient
    position: fixed
    top: 40px
    left: 0
    width: 100%
    height: 20px
    background-image: linear-gradient($black, rgba(0,0,0,0))

  .songs-container
    position: relative
    overflow-y: scroll
    -webkit-overflow-scrolling: touch
    flex-direction: column
    height: 100%
    padding-top: 5px
    padding-bottom: 20px

  .song-wrapper
    display: flex
    align-items: center
    flex-shrink: 0
    padding: 7px 0

    &.greyed-out
      opacity: 0.35

    &:nth-of-type(1)
      margin-top: 10px

    .album-cover
      position: relative

      &.no-click
        cursor: default

      .preview-indicator
        position: absolute
        width: 16px
        height: 16px
        border-radius: 50%
        background-color: #49da8b
        left: 37px
        top: -9px
        border: 2px solid #000
        z-index: 1

        .arrow
          position: absolute
          left: 4px
          top: 3px
          height: 0
          border-top: 3px solid transparent
          border-left: 5px solid black
          border-bottom: 3px solid transparent

      .circle
        top: 5px
        left: 5px
        width: 35px
        height: 35px
        position: absolute
        border-radius: 50%
        border: 3px white solid
        z-index: 1

        .square
          top: 8px
          left: 8px
          width: 13px
          height: 13px
          position: absolute
          background-color: white
      img
        height: 45px
        width: 45px

        &.playing
          opacity: 0.4

    .text-info
      display: flex
      flex-direction: column
      justify-content: space-around
      color: white
      font-size: 1.6rem
      text-align: initial
      margin-left: 10px
      width: calc(100% - 70px)
      height: 45px
      cursor: pointer
      margin-top: -3px

      &:active
        background-color: rgba(255, 255, 255, 0.2)

      &.short-ellipsis
        width: calc(100% - 110px)

      p
        width: 100%
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis

        &:nth-of-type(2)
          font-weight: 300
          font-size: 1.4rem

      .playing-song-bar
        height: 2px
        width: 0
        background-color: $green
        margin-top: auto

        &.playing
          animation-name: song-playing
          animation-timing-function: linear
          animation-duration: 30s



  .add-song-message
    color: $white
    padding-top: 30px
    text-align: center

@keyframes song-playing
  from
    width: 0
  to
    width: 100%