.front-page-container
  position: absolute
  left: 0
  top: 0
  padding: 0 $page-margin

  .logo
    display: block
    margin-top: 30px
    margin-bottom: 70px
    height: 65px

  .big-text-button
    display: block
    margin-bottom: 20px

  .small-text-button
    position: absolute
    color: $white
    font-size: 1.8rem
    left: $page-margin
    top: calc(var(--vh, 1vh) * 100 - 80px)

    &.second
      left: $page-margin + 120px