.party-screen-container
  background-color: $black
  padding-top: 5px
  height: 100vh

  .carousel
    position: relative
    max-width: $screen-width
    height: calc(var(--vh, 1vh) * 100 - 70px)
    margin: 0 -($page-margin)
    margin-top: 20px
    overflow-y: scroll !important
    transition: all 350ms ease

    &.blur
      opacity: 0.5
      filter: blur(2px)

    div
      display: flex