.party-screen-container
  background-color: $black
  //padding: 0 $page-margin-small
  padding-top: 5px
  height: 100vh
  .carousel
    position: relative
    max-width: $screen-width
    height: calc(var(--vh, 1vh) * 100 - 70px)
    // background-color: indianred
    margin: 0 -($page-margin)
    margin-top: 20px
    overflow-y: scroll !important
    div
      display: flex