.play-list-container
  display: flex
  flex-direction: column
  color: white
  max-width: $screen-width
  width: 100%
  height: 100%
  padding: 0 20px
  padding-top: 5px

  &.center
    align-items: center
    height: calc(100% - 70px)
    justify-content: center
    text-align: center

  .play-list-stats
    font-size: 1.5rem
    font-weight: 300
    color: $light-grey
    padding-bottom: 15px
    padding-top: 5px

    span
      &:nth-of-type(2)
        white-space: pre

  .playlist-songs-container
    position: relative
    overflow-y: scroll
    -webkit-overflow-scrolling: touch
    flex-direction: column
    height: 100%
    padding-top: 5px
    padding-bottom: 20px

    .song-wrapper
      align-items: center
      display: flex
      flex-shrink: 0
      padding: 7px 0
      padding-right: 5px

      &:nth-of-type(1)
        margin-top: 10px

      .album-cover
        height: 48px
        width: 48px

      .text-info
        display: flex
        flex-direction: column
        justify-content: space-around
        color: white
        font-size: 1.5rem
        text-align: initial
        margin-left: 10px
        width: calc(100% - 70px);

        &.short-ellipsis
          width: calc(100% - 110px)

        p
          width: 100%
          white-space: nowrap
          overflow: hidden
          text-overflow: ellipsis
          line-height: 1.4rem
          padding-bottom: 5px
          &:nth-of-type(2)
            font-size: 1.3rem
            line-height: 1.3rem
          &:nth-of-type(3)
            font-size: 1.1rem
            line-height: 1.1rem
            padding-bottom: 1px
            opacity: 0.6

      .delete-button
        width: 14px
        height: 14px
        padding: 11px
        box-sizing: content-box
        opacity: 0.6
        margin-left: auto

  .dashed-separator
    border:none
    border-top:2px dashed $white
    height:1px
    width:70%
    margin-top: 30px

  .playlist-name
    flex-direction: column
    align-items: center
    span
      &:nth-of-type(1)
        font-weight: 700
        font-size: 1.8rem
      &:nth-of-type(2)
        color: $green
        font-size: 2.4rem
        // text-decoration: underline
      &:nth-of-type(3)
        font-size: 1.6rem
        font-weight: 300
        width: 220px

  .playlist-pin
    flex-direction: column
    align-items: center
    margin-top: 30px
    span
      font-weight: 300
      &:nth-of-type(1)
        font-weight: 700
        font-size: 1.8rem
      &:nth-of-type(2)
        color: $green
        font-size: 4.8rem
      &:nth-of-type(3)
        font-size: 1.6rem
        width: 220px

  .transparent-gradient
    position: fixed
    top: 40px
    left: 0
    width: 100%
    height: 20px
    background-image: linear-gradient($black, rgba(0,0,0,0))

  p
    line-height: 2.5rem
