.play-list-container
  display: flex
  flex-direction: column
  color: white
  max-width: $screen-width
  width: 100%
  height: 100%
  padding: 0 20px
  padding-top: 5px

  &.center
    align-items: center
    height: calc(100% - 70px)
    justify-content: center
    text-align: center

  .play-list-stats
    font-size: 1.5rem
    font-weight: 300
    color: $light-grey
    padding-bottom: 20px

    span
      &:nth-of-type(2)
        white-space: pre

  .playlist-songs-container
    position: relative
    overflow-y: scroll
    -webkit-overflow-scrolling: touch
    flex-direction: column
    height: 100%
    padding-top: 5px
    padding-bottom: 20px

    .song-wrapper
      display: flex
      flex-shrink: 0
      margin: 5px 0
      &:nth-child(even)
        // background-color: rgba(255,255,255,0.1)
      &:nth-of-type(1)
        margin-top: 10px
      .album-cover
        height: 48px
        width: 48px
      .text-info
        display: flex
        flex-direction: column
        justify-content: space-around
        color: white
        font-size: 1.5rem
        text-align: initial
        margin-left: 10px
        width: calc(100% - 70px);
        p
          width: 100%
          white-space: nowrap
          overflow: hidden
          text-overflow: ellipsis
          line-height: 1.4rem
          padding-bottom: 5px
          &:nth-of-type(2)
            font-size: 1.3rem
            line-height: 1.3rem
          &:nth-of-type(3)
            font-weight: 300
            font-size: 1.1rem
            line-height: 1.1rem

  .playlist-name
    flex-direction: column
    align-items: center
    span
      &:nth-of-type(1)
        font-weight: 700
        font-size: 1.8rem
      &:nth-of-type(2)
        color: $purple
        font-size: 2.4rem
        // text-decoration: underline
      &:nth-of-type(3)
        font-size: 1.6rem
        font-weight: 300
        width: 220px

  .playlist-pin
    flex-direction: column
    align-items: center
    margin-top: 50px
    span
      &:nth-of-type(1)
        font-weight: 700
        font-size: 1.8rem
      &:nth-of-type(2)
        color: $purple
        font-size: 4.8rem
        font-weight: 300
      &:nth-of-type(3)
        font-size: 1.6rem
        font-weight: 300
        width: 220px

  .transparent-gradient
    position: fixed
    top: 40px
    left: 0
    width: 100%
    height: 20px
    background-image: linear-gradient($black, rgba(0,0,0,0))

  p
    line-height: 2.5rem
