.custom-text-input
  font-weight: 300
  background-color: $black
  border-bottom: 1px solid $white
  color: $white
  height: 30px
  max-width: 240px
  width: 100%
  font-size: 1.8rem
  border-radius: 0
  transition: border-color, 0.2s ease
  &.alert
    border-color: $alert-red
    transition: border-color, 0.2s ease