.front-page-container
  position: absolute
  left: 0
  top: 0
  padding: 0 $page-margin

  .logo
    font-family: 'Comfortaa', cursive
    font-weight: bold
    color: $white
    font-size: 60px
    margin-top: 40px
    margin-bottom: 60px
    position: relative

    &:before
      position: absolute
      content: 'PlayVi'
      left: -4px
      top: 3px
      color: $light-red
      z-index: -1

    &:after
      position: absolute
      content: 'PlayVi'
      left: 4px
      top: 3px
      color: $green
      opacity: 0.75

  .big-text-button
    display: block
    margin-bottom: 20px

  .small-text-button
    position: absolute
    color: $white
    font-size: 1.8rem
    left: $page-margin
    top: calc(var(--vh, 1vh) * 100 - 80px)

    &:nth-of-type(2n)
      left: 90px
