.how-to-page-container
  color: $white
  padding-top: $page-margin
  font-weight: 300
  line-height: 2.5rem

  a
    color: $green
    font-weight: 500
    text-decoration-color: $green

  p
    margin-top: 30px

  ul
    margin: 0
    padding-left: $page-margin

    li
      list-style-position: outside
      margin: 0
      margin-bottom: 5px
      margin-right: 10px
      list-style-type: circle
