.join-party-container
  padding: 0 $page-margin
  padding-top: 30px
  .text-field-wrapper
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 90px
  .info-text
    margin-top: 25px
    font-weight: 300
    color: $white
    font-size: 1.4rem
    line-height: 20px