.party-screen-container
  background-color: $black
  //padding: 0 $page-margin-small
  padding-top: 5px
  height: calc(100vh - 100px)
  .carousel
    max-width: $screen-max-width
    margin: 0 -($page-margin)
    margin-top: 20px
    div
      display: flex