.play-list-container
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  color: white
  text-align: center
  max-width: $screen-max-width
  width: 100%
  height: calc(100% - 70px)